.location>section{
    width: 400px;
    height: 500px;
    background-size: cover;
    display: inline-block;
    text-align: center;
    color: floralwhite;
    margin: auto;
}
#nairobi{
    background-image: url(../../../img/nai.jpg);
}
#rome{
    background-image: url(../../../img/rome.jpg);
}
#nyc{
    background-image: url(../../../img/nyc.jpeg);
}
