/*location*/

.location {
    background-color: rgb(50, 50, 50);
    text-align: center;
    align-items: center;
    padding: 50px 0;
    margin: 20px 0;
}
.locales>section {
    width: 400px;
    height: 500px;
    display: inline-block;
    color: floralwhite;
}
.location h3 {
    padding-top: 200px;
    font-family: 'Candal', sans-serif;
    font-size: 100px;
}
.locales>section>p {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.60);
}
#nairobi {
    background-image: url(../img/nai.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#rome {
    background-image: url(../img/rome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#nyc {
    background-image: url(../img/nyc.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*footer*/

footer>section {
    display: inline-block;
    text-align: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.icons li {
    display: inline;
    padding-right: 10px;
}
.icons a {
    color: black
}
.contact li {
    padding-bottom: 10px;
}



/*all right reseved*/


.icons h3 {
    font size 20px;
    padding-bottom: 10px;
}
.locales table {
    display: inline-grid;
    width: 100%;
    color: white;
}


#fotpart {
    padding-left:60px;
    border-collapse: separate;
    margin: 24px;
    display: block;
    font-size: 20px;

}
#fotpart td{

    display:inline-block;
    padding: 30px;
}


#logtitle {
    line-height: 60px;
}
