/*location*/
.location{
    background-color: rgb(50, 50, 50);
}
.location>section{
    margin: auto;
    width: 400px;
    height: 500px;
    background-size: 100% 80%;
    background-repeat: no-repeat;
    display: inline-block;
    text-align: center;
    color: floralwhite;
    margin: auto;
}
#nairobi{
    background-image: url(../../../img/nai.jpg);
}
#rome{
    background-image: url(../../../img/rome.jpg);
}
#nyc{
    background-image: url(../../../img/nyc.jpeg);
}
