/*icons-footer*/
.icons ul{
    list-style: none;
}
.icons li{
    display: inline-block;
    padding-right: 7px;
}
.icons{
    width: 450px;
}
/*contact-footer*/
.section{
    margin-top: 0px;
}
.contact{
    width: 450px;
    margin: 0;
    position: relative;
    top: -30px;
    bottom: 500px;
    left: 380px;
}
.contact ul{
    list-style: none;
}
/*logo*/
.logo{
    position: relative;
    top: -200px;
    left: 850px;
}
/*copyright*/
footer>p{
    text-align: center;
    position: relative;
    top: -70px;
}
