
#nav ul{
    display: inline-block;
    border: transparent solid;

}
#nav ul li{

    list-style: none;
    display: block;
    float: left;
    height: 60px;
    line-height: 40px;
    border-color: rgba(20, 222, 191, 0.3);
    border-top-color:transparent;



}
#nav ul li a{
    text-align: center;
    text-decoration: none;
    font-family:Raleway;
    font-size: 30px;
    background: black;
    padding-left: 120px;
}
#nav a{
    display: block;
}

}

#nav li{
    display: block;
    padding:8px;
}
