/*location*/

.location {
    background-color: #10103b;
    text-align: center;
    align-items: center;
    padding: 50px 0;
    margin: 20px 0;
}
.locales>section {
    width: 400px;
    height: 500px;
    display: inline-block;
    color: floralwhite;
}
.location h3 {
    padding-top: 200px;
    font-family: 'Candal', sans-serif;
    font-size: 100px;
}
.locales>section>p {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.60);
}
#nairobi {
    background-image: url(../img/nai.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#rome {
    background-image: url(../img/rome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#nyc {
    background-image: url(../img/nyc.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*footer*/

footer>section {
    display: inline-block;
    text-align: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}
.icons li {
    display: inline;
    padding-right: 10px;
}
.icons a {
    color: black
}
.contact li {
    padding-bottom: 10px;
}

/*all right reseved*/

.icons h3 {
    font size 20px;
    padding-bottom: 10px;
}
.locales table {
    display: inline-grid;
    width: 100%;
    color: white;
}
#fotpart {
    padding-left: 60px;
    border-collapse: separate;
    margin: 24px;
    display: block;
    font-size: 20px;
}
#fotpart td {
    display: inline-block;
    padding: 30px;
}
#logtitle {
    display: block solid 6px;
    width: 10%;
    padding-left: 4px;
    font-size: 25px;
    color: rgba(13, 7, 7, 0.31)
}
.locales a {
    text-decoration: none;
    color: white;
}
.locales a:hover {
    display: block;
    border: solid 4px transparent;
}
.locales {
    caption-side: top;
}
#cap {
    font-size: 30px;
    margin-bottom: 12px;
}
.fnt {
    font-family: Raleway;
}
.nav ul li {
    display: inline;
}
.nav ul {
    font-family: Raleway;
    width: display: block;
    border: solid 1px;
    /*    background: linear-gradient(to bottom right, #3A3033, rgba(255, 0, 0, 0));*/
    background-color: #262423;
}
.nav a {
    padding: .3em;
    font-size: 3em;
    text-decoration: none;
    color: white;
}
