<<<<<<< HEAD

#nav ul{
    display: inline-block;
    width: 100%;
}
#nav ul li{
    list-style: none;
    display: block;
    float: left;
    height: 60px;
    line-height: 40%;




}
#nav ul li a{
    text-align: center;
    text-decoration: none;
    font-family:Raleway;
    font-size: 30px;
    margin-left: 100px;

}



#circ {
    background-color: transparent;
}

#list {
    background-color: #10103b;
}

#logo {
    display: block solid 6px;
    width: 10%;
    padding-left: 4px;
    font-size: 50px;
    color: beige;
}

#txt {
    display: block solid 9px;
    background-color: rgba(48, 48, 116, 0.13);
    width: 40%;
    margin-left:34%;
    padding: 19px;
}
#txt h3{
    text-align: center;
    font-family: Alegreya Sans SC;
    font-size: 35px;
}
#txt p{
    font-size: 26px;
    font-family: Alegreya Sans SC;

}

#button {
    display: block solid 2px;
    border-color: rgba(103, 157, 157, 0.08);
    border-bottom-left-radius: 3px;
     border-bottom-right-radius: 3px;
     border-top-left-radius: 3px;
     border-top-right-radius: 3px;
    width: 90px;
    height: 30px;
    background-color: #10103b;
    font-family: Dosis;
    font-size:14px;
    font-weight: 700;
    color: beige;

}

#alltext {
    display: block;
    border: solid 5px rgba(48, 48, 116, 0.13);
    font-family: Alegreya Sans SC;
    margin-top:10%;
    width:60%;
    margin-left: 19%;
    padding: 19px;
    background-color: rgba(48, 48, 116, 0.13);
}

#about {
    text-align: center;
    font-size: 39px;

}

#Dtable {
    background-color: azure;
    text-align: center;
    font-family: Raleway;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;

}


#Dtable td{
    padding: px;
}

#img h3{
    padding-top: 18px;

}

#contbg {
    display: block;
    border: 5px solid transparent;
    margin: 19px;
}





=======
#text{
    padding: 300px;
    display: block;
    background-color: black;
}
>>>>>>> yvonne

#nav {
      background-color: #10103b;
}
